# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env
.env.*

# Python packaging
*.egg-info/
build/
dist/

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# IDE
.vscode/
.idea/
.history/

# OS files
.DS_Store
Thumbs.db

# model versions and reports
models/versions/
reports/

*.joblib
!models/latest.joblib